<div class="row" id="footer-style">
    <div class="container-fluid">
       <!-- <div class="col-lg-2 float-left"></div>-->
        <div class="col-lg-4 float-left">
            <img class="d-block" xmlns="http://www.w3.org/2000/svg" focusable="false" alt="EasyCloudBooks" src="https://www.easycloudbooks.com/images/ecb170wc.png" width="120" height="50">
            <!--<p class="h5 mb-3 float-left g-color-primary">{{ site.title | escape }}</p>-->
        </div>
        <div class="col-lg-4">
                        <ul class="footer-list-unstyled">
                <li>
                   {%- if site.author -%}
                    {{ site.author | escape }}
                    {%- else -%}
                    {{ site.title | escape }}
                    {%- endif -%}
                </li>
                {%- if site.email -%}
                <li>
                   <a href="mailto:{{ site.email }}">
                        {{ site.email }}
                    </a>
                </li>
               {%- endif -%}
            </ul>
             
                    
                    
             
             

        </div>
        <div class="col-lg-4 float-left">
            <div class="textright">
                <p>{{- site.description | escape -}}</p>
                
            </div>
        </div>
        <!--<div class="col-lg-2"></div>-->
    </div>
</div>

<!--<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>

        <p>
        </p>
      </div>

    </div>

  </div>
</div>-->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-607e886be9271e3f"></script>
