<head id="metatags">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="EasyCloudBooks"> 
    
   
	 
	 
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="EasyCloudBooks" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="fb:app_id" content="1516534791961245" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicon.png"> 
    <link rel="shortcut icon" href="/assets/favicon.png">	
	 
		
	   
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">     
    <!--<link rel="stylesheet" href="{{ "/assets/plugins/jquery.magify/css/font-awesome.min.css" | relative_url }}">-->
    <link rel="stylesheet" href="{{ "/assets/plugins/jquery.magify/css/jquery.magnify.css" | relative_url }}">
	
    {%- feed_meta -%} 
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>	
   
   {%- if page.url == "/deal.html"  -%} 
	 <title>Deal</title>
	 <meta name="description" content="" />
	 <meta property="og:title" content="" />
	 <meta property="og:image" content="" />
	 <meta property="og:description" content="" />	
	 <meta property="og:url" content="https://help.easycloudbooks.com/deal">
	 
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="keywords" content="" />	 
{%- endif -%}
	
	{%- if page.url == "/expcon-deal.html"  -%} 
	 <title>Expcon - Deal</title>
	 <meta name="description" content="" />
	 <meta property="og:title" content="" />
	 <meta property="og:image" content="" />
	 <meta property="og:description" content="" />	
	 <meta property="og:url" content="https://help.easycloudbooks.com/expcon-deal">
	 
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="keywords" content="" />	 
{%- endif -%}

	 
	 
<script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@graph": [
        {
        "@type": "Organization",
        "name": "EasyCloud Consultants Pvt Ltd.",
        "url": "http://www.easycloudbooks.com",
        "sameAs": [
        "http://www.facebook.com/easycloudbooks",
        "http://www.twitter.com/easycloudbooks",
        "http://plus.google.com/+Easycloudbooks-website",
        "http://plus.google.com/100073923236929823941",
        "http://www.youtube.com/c/Easycloudbooks-website",
        "http://www.linkedin.com/company/easycloudbooks"
        ],
        "logo": {
        "@type": "ImageObject",
        "@id": "https://www.easycloudbooks.com/#ecblogo",
        "url": "https://www.easycloudbooks.com/images/logo.png",
        "width": "520", "height": "220", "caption": "EasyCloudBooks"
        },
        "image": { "@id": "https://www.easycloudbooks.com/#ecblogo" }
        },
        {
        "@type": "WebSite",
        "@id": "http://www.easycloudbooks.com/#website",
        "url": "http://www.easycloudbooks.com",
        "name": "EasyCloudBooks - Practice Management Software",
        "publisher": { "@id": "http://www.easycloudbooks.com/#organization" },
        "potentialAction": { "@type": "SearchAction", "target": "http://www.easycloudbooks.com?s={search_term_string}", "query-input": "required name=search_term_string" }
        },
        {
        "@type": "WebPage",
        "@id": "http://www.easycloudbooks.com/#webpage",
        "url": "http://www.easycloudbooks.com",
        "inLanguage": "en-US",
        "name": "Office Management Software for CA, CS, Tax Consultant, Advocate",
        "isPartOf": { "@id": "http://www.easycloudbooks.com/#website" },
        "about": { "@id": "http://www.easycloudbooks.com/#organization" },
        "image": {
        "@type": "ImageObject", "@id": "http://www.easycloudbooks.com/#ecblogo",
        "url": "https://www.easycloudbooks.com/images/ecb170w.png",
        "width": "170", "height": "70", "caption": "EasyCloudBooks"
        },
        "primaryImageOfPage": { "@id": "http://www.easycloudbooks.com/#primaryimage" },
        "datePublished": "2018-03-24T08:18:30+00:00",
        "dateModified": "2019-05-28T00:00:00+00:00",
        "description": "Online CA Practice management software. CA Automation Management Software. Custom Dashboad. Accounting Billing Automation."
        }
        ]
        }
</script>
<script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": "SoftwareApplication",
        "name": "EasyCloudBooks",
        "operatingSystem": "Windows, Mac, Android, Iphone, Linux",
        "applicationCategory": "Task Management",
        "applicationSubCategory": "CA Practice Management",
        "availableOnDevice": "browser",
        "countriesSupported": "in",
        "softwareHelp": "https://help.easycloudbooks.com/User/Setup",
        "dateCreated": "14-02-2014",
        "version": "5",
        "keywords": "CA, Office, Task, Automation, Management, Software, Online, Practice, Chartered Accountant, Company Secretary, CS, Tax Consultant",
        "featureList": "Online Office Management Software for CA, CS",
        "downloadUrl": "https://www.easycloudbooks.com",
        "screenshot": "https://storage.googleapis.com/ecb-usercontent/images/screenshot.png",
        "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5.0",
        "ratingCount": "30"
        },
        "offers": {
        "@type": "Offer",
        "price": "1000",
        "priceCurrency": "INR",
        "areaServed": "India"
        },
        "author": {
        "@type": "Organization",
        "legalName": "EasyCloud Consultants Pvt Ltd",
        "email": "support@easycloudbooks.com"
        }
        }
</script>
	 
	 
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143357217-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-143357217-1');
	</script>
</head>
