<div class="toggler-right">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
</div>
<div class="colorheader navbarfull1" >
<div class="navbarfull2" style="min-height:900px">
<nav id="main-menu"  class="navbar navbar-expand-md  navbar-dark navbarfull">
  
  <div class="collapse navbar-collapse nav-position" id="collapsibleNavbar">
      <ul class="navbar-nav linetonav main-menu">
	    <li class="nav-item inner">
              <a class="nav-link txt-white" href="{{ "/User/DemoVideo" | absolute_url }}"><i class="fa fa-cogs"></i>Demo Videos</a>
          </li>
          <li class="nav-item inner">
              <a class="nav-link txt-white" href="{{ "/User/Setup" | absolute_url }}"><i class="fa fa-cogs"></i>Setup Easycloudbooks</a>
          </li>
          <li class="nav-item">
              <div href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white  nav-link"><i class="padr7 fa fa-th-large"></i>Dashboards</div>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li class="inner">
                      <a class="nav-link txt-white" href="{{ "/User/Home" | absolute_url }}"><i class="fa fa-suitcase"></i> Home</a>
                  </li>
                  <li class="inner">
                      <a class="nav-link txt-white" href="{{ "/User/PersonalGadgets" | absolute_url }}"><i class="fa fa-th-large"></i>Personal Gadgets</a>
                  </li>

              </ul>
          </li>
          <li class="nav-item">
              <div href="#ContactSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-user"></i>Contacts</div>
              <ul class="collapse list-unstyled" id="ContactSubmenu">

                  
                      <a class="nav-link txt-white" href="{{ "/User/Contact" | absolute_url }}"><i class="fa fa-user"></i>Contacts</a>
                
                  
                      <a class="nav-link txt-white" href="{{ "/User/ClientLogin" | absolute_url }}"><i class="fa fa-sign-in"></i>ClientLogin</a>
                  </li>

              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link txt-white" href="{{ "/User/Company" | absolute_url }}"><i class="fa fa-university"></i>Company</a>
          </li>
          <li class="nav-item ">
              <div href="#ProjectsSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-suitcase"></i>Projects</div>
              <ul class="collapse list-unstyled" id="ProjectsSubmenu">
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Projects" | absolute_url }}"><i class="fa fa-suitcase"></i>Projects</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/ReviewProjects" | absolute_url }}"><i class="fa fa-suitcase"></i>Review Projects</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/FinishedProjects" | absolute_url }}"><i class="fa fa-suitcase"></i>Finished Projects</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/ProjectImport" | absolute_url }}"><i class="fa fa-modx"></i>Project Import</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/ServiceScheduler" | absolute_url }}"><i class="fa fa-clock-o"></i>Service Scheduler</a>
                  </li>
		      <li>
                      <a class="nav-link txt-white" href="{{ "/User/Query" | absolute_url }}"><i class="fa fa-question-circle"></i>Query & Discussions</a>
                  </li>
                  
                  
              </ul>
          </li>
	      <li class="nav-item ">
              <div href="#AccountsSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-file-text-o"></i>Accounts</div>
              <ul class="collapse list-unstyled" id="AccountsSubmenu">
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Accounts" | absolute_url }}"><i class="fa fa-exchange"></i>Accounts</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/PaymentLog" | absolute_url }}"><i class="fa fa-database"></i>Payment Log</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Report" | absolute_url }}"><i class="fa fa-tablet"></i>Report</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item ">
              <div href="#DocumentsSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-file-text-o"></i>Documents</div>
              <ul class="collapse list-unstyled" id="DocumentsSubmenu">
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Document" | absolute_url }}"><i class="fa fa-file-text-o"></i>Documents</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/DocumentLog" | absolute_url }}"><i class="fa fa-file-text"></i>Document Log</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Export" | absolute_url }}"><i class="fa fa-table"></i>Export</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item">

              <a class="nav-link txt-white" href="{{ "/User/TimeSheet" | absolute_url }}"><i class="fa fa-clock-o"></i>TimeSheet</a>
          </li>
         
          <li class="nav-item">
              <div href="#AutomationSettingsSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-plus-square"></i>Automation & Settings</div>
              <ul class="collapse list-unstyled" id="AutomationSettingsSubmenu">
                  
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/QueryBuilder" | absolute_url }}"><i class="fa fa-filter"></i>Query Builder</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Scheduler" | absolute_url }}"><i class="fa fa-clock-o"></i>Scheduler</a>
                  </li>
                  
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Automation" | absolute_url }}"><i class="fa fa-bell"></i>Automation</a>
                  </li>
		      <li>
                      <a class="nav-link txt-white" href="{{ "/User/Worktask" | absolute_url }}"><i class="fa fa-tasks mr-2"></i>Work Task</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item inner">
              <div href="#EmailSMSSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-envelope"></i>Email/SMS</div>
              <ul class="collapse list-unstyled" id="EmailSMSSubmenu">
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/NotifyDashboard" | absolute_url }}"><i class="fa fa-dashboard"></i>Notify Dashboard</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/EmailLog" | absolute_url }}"><i class="fa fa-database"></i>Email Log</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/SMSLog" | absolute_url }}"><i class="fa fa-envelope"></i>SMS Log</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/EmailTemplate" | absolute_url }}"><i class="fa fa-clipboard"></i>Email Templates</a>
                  </li>
				    <li>
                      <a class="nav-link txt-white" href="{{ "/User/Key" | absolute_url }}"><i class="fa fa-clipboard"></i>Key</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Broadcast" | absolute_url }}"><i class="fa fa-plus"></i>Broadcast</a>
                  </li>
		      <li>
                      <a class="nav-link txt-white" href="{{ "/User/ApiCall" | absolute_url }}"><i class="fa fa-feed"></i>Api Calls</a>
                  </li>
                  
              </ul>
         <li class="nav-item">

              <a class="nav-link txt-white" href="{{ "/User/Market" | absolute_url }}"><i class="fa fa-archive"></i>Market</a>
          </li>
          <li class="nav-item inner">
              <div href="#SettingsSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-cog"></i>Settings</div>
              <ul class="collapse list-unstyled" id="SettingsSubmenu">
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Staff" | absolute_url }}"><i class="fa fa-user"></i>Staff</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/ManageYear" | absolute_url }}"><i class="fa fa-calendar"></i>Year &amp; Periods</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Services" | absolute_url }}"><i class="fa fa-globe"></i>Services</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Team" | absolute_url }}"><i class="fa fa-users"></i>Team</a>
                  </li>
                  
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Template" | absolute_url }}"><i class="fa fa-book"></i>Project Templates</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Role" | absolute_url }}"><i class="fa fa-user-secret"></i>Roles</a>
                  </li>
		      <li>
                      <a class="nav-link txt-white" href="{{ "/User/CustomField" | absolute_url }}"><i class="fa fa-pencil-square-o"></i>Custom Field</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/AccountStatementTax" | absolute_url }}"><i class="fa fa-pencil-square-o"></i>Tax Settings</a>
                  </li>
		      <li>
                      <a class="nav-link txt-white" href="{{ "/User/Settings" | absolute_url }}"><i class="fa fa-cogs"></i>Other Settings</a>
                  </li>
                   <li>
                      <a class="nav-link txt-white" href="{{ "/User/Billing" | absolute_url }}"><i class="fa fa-cogs"></i>Billing</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item inner">
              <div href="#MiscellaneousSubmenu" data-toggle="collapse" aria-expanded="false" class="pointer dropdown-toggle txt-white nav-link"><i class="padr7 fa fa-maxcdn"></i>Miscellaneous</div>
              <ul class="collapse list-unstyled" id="MiscellaneousSubmenu">
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/GlobalSearch" | absolute_url }}"><i class="fa fa-search"></i>Global Search</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/UserProfile" | absolute_url }}"><i class="fa fa-user"></i>User profile</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/ChangeLog" | absolute_url }}"><i class="fa fa-asterisk"></i>Change Log</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/Notifications" | absolute_url }}"><i class="fa fa-globe"></i>Notifications</a>
                  </li>
                  <li>
                      <a class="nav-link txt-white" href="{{ "/User/SampleExcelFiles" | absolute_url }}"><i class="fa fa-file-excel-o"></i>SampleExcelFiles</a>
                  </li>
              </ul>
          </li>
      </ul>
  </div>  
</nav>
</div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cecd8cd3b5d3466"></script>



<!--<div class="d-none d-xl-block col-xl-2 bd-toc">
    <ul class="section-nav">
        <li class="toc-entry toc-h2"></li>
        <li class="toc-entry toc-h2">
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Home" | absolute_url }}">Home</a></li>
                <li class="toc-entry toc-h3"></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Contact" | absolute_url }}">Contacts</a>
            <ul>
                <li class="toc-entry toc-h3"></li>
                <li class="toc-entry toc-h3"></li>

            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="{{ "/User/Company" | absolute_url }}">Company</a></li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Projects" | absolute_url }}">Projects</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Projects" | absolute_url }}">Projects</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ReviewProjects" | absolute_url }}">Review Projects</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/FinishedProjects" | absolute_url }}">Finished Projects</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ProjectImport" | absolute_url }}">Project Import</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ServiceScheduler" | absolute_url }}">Service Scheduler</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Query" | absolute_url }}">Query & Discussions</a></li>
                            </ul>
        </li>
<li class="toc-entry toc-h2">
            <a href="{{ "/User/Accounts" | absolute_url }}">Accounts</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Accounts" | absolute_url }}">Accounts</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/PaymentLog" | absolute_url }}">Payment Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Report" | absolute_url }}">Report</a></li>
            </ul>
        </li>

        <li class="toc-entry toc-h2">
            <a href="{{ "/User/document" | absolute_url }}">Documents</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Document" | absolute_url }}">Documents</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/DocumentLog" | absolute_url }}">Document Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Export" | absolute_url }}">Export</a></li>
            </ul>
        </li>

        <li class="toc-entry toc-h2"><a href="{{ "/User/TimeSheet" | absolute_url }}">TimeSheet</a></li>
       

        <li class="toc-entry toc-h2">
            <a href="{{ "/User/Automation&Settings" | absolute_url }}">Automation & Settings</a>
            <ul>
                
                <li class="toc-entry toc-h3"><a href="{{ "/User/QueryBuilder" | absolute_url }}">Query Builder</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Scheduler" | absolute_url }}">Scheduler</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Automation" | absolute_url }}">Automation</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/NotifyDashboard" | absolute_url }}">Email/SMS</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/NotifyDashboard" | absolute_url }}">Notify Dashboard</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/EmailLog" | absolute_url }}">Email Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/SMSLog" | absolute_url }}">SMS Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/EmailTemplate" | absolute_url }}">Email Templates</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/CreateNotification" | absolute_url }}">Create Notification</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/notify/ApiCall" | absolute_url }}">Api Calls</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/" | absolute_url }}">Settings</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Staff" | absolute_url }}">Staff</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ManageYear" | absolute_url }}">Year &amp; Periods</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Services" | absolute_url }}">Services</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Team" | absolute_url }}">Team</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Settings" | absolute_url }}">Settings</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Template" | absolute_url }}">Project Templates</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Role" | absolute_url }}">Roles</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/CustomField" | absolute_url }}">Custom Field</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/AccountStatemenTax" | absolute_url }}">Tax Settings</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Billing" | absolute_url }}">Billing</a></li>
              
            </ul>
        </li>
        <li class="toc-entry toc-h2">
            <a href="{{ "/User/" | absolute_url }}">Miscellaneous </a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/User/GlobalSearch" | absolute_url }}">Global Search</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/UserProfile" | absolute_url }}">User profile</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/ChangeLog" | absolute_url }}">Change Log</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/Notifications" | absolute_url }}">Notifications</a></li>
                <li class="toc-entry toc-h3"><a href="{{ "/User/SampleExcelFiles" | absolute_url }}">SampleExcelFiles</a></li>
            </ul>
        </li>

    </ul>
</div>-->
