<div class="d-none d-xl-block col-xl-2 bd-toc">
    <ul class="section-nav">
        <li class="toc-entry toc-h2">
            <h6 class="text-center">Coming Soon</h6>
          <!--  <a href="{{ "/Client/Home" | absolute_url }}">Client</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="{{ "/Client/Home" | absolute_url }}">Client</a></li>
                <li class="toc-entry toc-h3"><a href="#">Client Login</a></li>
                <li class="toc-entry toc-h3"><a href="#">Client Carts</a></li>
            </ul>-->
        </li>
        <!--   <li class="toc-entry toc-h2"><a href="{{ "/Client/Cart" | absolute_url }}">Cart</a></li>-->
    </ul>
</div>
